<h1>Volunteer Tracker</h1>

<h3>Current Projects</h3>

<% if @projects.any? %>
  <ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display.</p>
<% end %>

<h3>Add a new project</h3>
<form action="/projects" method="post">
  <label for="title">New project title:</label>
  <input id="n" name="title" class="form-control" type="text">
  <button type="submit" class="btn">Create Project</button>
</form><br>
